<h1>Dashboard</h1>

<div class="row">
    <div class="col-sm-8">
        <div id="users">
            <h2>Users</h2>
            <hr>
            <%= render @users %>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <%= form_for User.new, remote: true, class: 'form form-horizontal' do |f| %>
                <h5>New User</h5>

                <div class="form-group">
                    <%= f.label 'username', class: "control-label" %>
                    <%= f.text_field 'username', class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label 'email', class: "control-label" %>
                    <%= f.email_field 'email', class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.submit "Create", class: 'btn btn-lg btn-primary btn-block' %>
                </div>
            <% end %>
        </div>
    </div>
</div>

