<%= div_for user, class: 'well' do %>
<h2><%= user.username %> <small><%= user.email %> - <%= link_to "delete", user, {method: :delete, remote: true} %></small></h2>
<br>

<div class="user_projects">
<% user.projects.each do |project| %>
        <%= render project %>
<% end %> <!-- each projects -->
</div>

<hr>
<%= form_for user.projects.new, remote: true, class: 'form form-horizontal' do |f| %>
    <%= f.text_field 'name', class: "form-control", placeholder: 'Project Name' %>

    <%= f.hidden_field 'user_id' %>
    <%= f.submit class: "btn btn-md btn-success btn-block" %>
<% end %>

<% end %>