<%= div_for user do %>
<strong><%= user.username %>: </strong> <%= user.email %> - <%= link_to "delete", user, {method: :delete, remote: true} %>
<br>

<% user.projects.each do |project| %>

    <%= div_for project do %>
        <%= project.name %>
        <div class="project_tasks">
            <ul>
                <% project.tasklists.each do |tasklist| %>
                    <li>
                    <%= tasklist.name %>
                        <ul>
                            <% tasklist.tasks.each do |task| %>
                            <li>
                            <%= task.title %>
                            </li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>

<% end %>

<% end %>