<%= div_for project do %>

    <h4><%= project.name %> <small><%= link_to "delete", project, {method: :delete, remote: true} %></small></h4>

    <div class="project_tasklists">
        <% project.tasklists.each do |tasklist| %>

            <%= render tasklist %>

        <% end %> <!-- tasklist -->
    </div>

    <hr>
    <%= form_for project.tasklists.new, remote: true, class: 'form form-horizontal' do |f| %>
        <div class="row">
            <div class="col-sm-8">
                <%= f.text_field 'name', class: "form-control", placeholder: 'Tasklist Name' %>
            </div>
            <div class="col-sm-4">
                <%= f.hidden_field 'project_id' %>
                <%= f.submit "Add Tasklist", class: 'btn btn-sm btn-primary btn-block' %>
            </div>
        </div>
    <% end %>
    <div class="clearfix"></div>

<% end %> <!-- project -->